@using WebApplication9.Models
@model IEnumerable<WebApplication9.Models.Messages>



@{
    ViewBag.Title = "View";
}

<h2>Previous</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MessageFrom)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDismissed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MessageFrom)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDismissed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>

                @Html.ActionLink("View", "Details", new { id = item.MessageId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MessageId })
            </td>
        </tr>
    }

</table>

@*<div>
        <h4>Messages</h4>
        <hr />
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.MessageType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MessageType)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MessageFrom)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MessageFrom)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Subject)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Subject)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Content)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Content)
            </dd>



        </dl>
    </div>*@
<div>
    @Html.Partial("MessagesReplyViewModel", new MessagesReplyViewModel
    {
MessageTo = Model.First().MessageFrom,
PreviousMessage = Model.First().MessageId.ToString()

})

</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
