@model IEnumerable<WebApplication9.Models.Messages>

@{
    ViewBag.Title = "Messages";
}

<h2>Messages</h2>
<p class="">
    @Html.ActionLink("Create New", "MessagesCreateViewModel")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MessageFrom)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDismissed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
    </tr>

    @foreach(var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.MessageFrom)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Subject)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Content)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IsDismissed)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CreatedOn)
    </td>
    <td>

        @Html.ActionLink("View", "Details", new { id = item.MessageId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.MessageId })
    </td>
</tr>
        }

</table>
