@model WebApplication9.Models.Coral

@{
    ViewBag.Title = "Delete";
}

    <style>

        /* Style the Image Used to Trigger the Modal */
        img {
            border-radius: 50px;
            padding: 10px;
            cursor: pointer;
            transition: 1.3s;
            float: left;
            width: 150px;
            max-width: 150px;
            animation-name: zoom;
            animation-duration: 1.6s;
            opacity: 1;
        }

            img:hover {
                -webkit-filter: brightness(30%); /* Safari */
                filter: brightness(125%);
                opacity: 1;
            }




        /* 100% Image Width on Smaller Screens */
        @@media only screen and (max-width: 700px) {
            /* Style the Image Used to Trigger the Modal */
            img {
                border-radius: 50px;
                padding: 10px;
                cursor: pointer;
                transition: 1.3s;
                float: left;
                width: 300px;
                max-width: 300px;
                animation-name: zoom;
                animation-duration: 1.6s;
                opacity: 1;
            }

                img:hover {
                    -webkit-filter: brightness(30%); /* Safari */
                    filter: brightness(125%);
                    opacity: 1;
                }
        }

        @@media (min-width: 1800px) {


            .col-lg-6 {
                width: 100%;
            }
        }
    </style>




    <div class="col-xl-12" id="mainDiv">

        <div class=" col-xl-12">
            <div class="col-xl-4">
                @{int x = 0;}

                <h2>
                    @Model.Name
                </h2>
                <hr><br />
                <h4>
                    @Model.ScientificName
                </h4>
                <img src="@Url.Action("CoralPhoto3", "Corals", new { id = @Model.CoralId, number = 0  })" />
            </div>


            <div class=" col-xl-4 ">

                <h4>
                    Price : €  @Model.Price
                </h4>
                <h4>
                    Likes :  @Model.Likes
                </h4>
                <h4>
                    Views : @Model.Views
                </h4>
                <h4>
                    Connections : Coming Soon
                </h4>
                <h4>
                    Sold  :  @Model.SoldOut
                </h4>
            </div>

            <div class="col-xl-4 ">
                @Model.Details
            </div>

        </div>
    </div>

    <hr><br />
    <div class="col-xl-12">
        <h3>Are you sure you want to delete this?</h3>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
