@model WebApplication9.Models.Coral

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Coral</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Light)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Light)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Flow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Flow)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Food)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Food)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScientificName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScientificName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UploadedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UploadedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FragSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FragSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Likes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Likes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisLikes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisLikes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Views)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Views)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoldOut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoldOut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FragAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FragAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FragAvailableFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FragAvailableFrom)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
