@using WebApplication9.Models
 @model WebApplication9.Models.CoralViewModel

<style>
    .carousel img {
        border-radius: 50px;
        padding: 10px;
        cursor: pointer;
        transition: 1.3s;
        float: left;
        width: 300px;
        max-width: 300px;
        max-height: 300px;
        animation-name: zoom;
        animation-duration: 1.6s;
        opacity: 1;
    }

    .myImg:hover {
        -webkit-filter: brightness(30%); /* Safari */
        filter: brightness(125%);
        opacity: 1;
    }
</style>


<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        @*<a class="navbar-brand" href="#">Brand</a>*@
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        @*<ul class="nav navbar-nav">
                                     <li class="active"><a href="#">Link</a></li>
                                    <li><a href="#">Link</a></li>
                                     <li class="dropdown">
                                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">Coral Type <b class="caret"></b></a>
                                         <ul class="dropdown-menu">
                                             <li><a href="#">All</a></li>
                                             <li><a href="#">Soft</a></li>
                                             <li><a href="#">Lps</a></li>
                                             <li><a href="#">Sps</a></li>
                                             <li class="divider"></li>
                                             <li><a href="#">Near me</a></li>
                                             <li class="divider"></li>
                                             <li><a href="#">One more separated link</a></li>
                                         </ul>
                                     </li>
                                 </ul>*@

        <div class="checkbox navbar-btn navbar-left">

            <div class="row">
                <div class="col-lg-10"></div>
                <div class="col-lg-10">
                    <label class="navbar-link" for="filterUnfulfilled">
                        <input type="checkbox" class="autosubmit" id="Soft" value="true">
                        Soft
                    </label>

                    <label class="navbar-link" for="filterUnfulfilled">
                        <input type="checkbox" class="autosubmit" id="Lps" value="true">
                        Lps
                    </label>

                    <label class="navbar-link" for="filterUnfulfilled">
                        <input type="checkbox" class="autosubmit" id="Sps" value="true">
                        Sps
                    </label>

                    <label class="navbar-link" for="filterUnfulfilled">
                        <input type="checkbox" class="autosubmit" id="Near me" value="true">
                        Near me
                    </label>
                    <label class="navbar-link" for="filterUnfulfilled">
                        <input type="checkbox" class="autosubmit" id="filterUnfulfilled" value="true">
                        For Sale Only
                    </label>
                    <label class="navbar-link" for="filterUnfulfilled">
                        <input type="checkbox" class="autosubmit" id="filterUnfulfilled" value="true">
                        Coming soon
                    </label>
                </div>
            </div>
        </div>


        <div class="nav navbar-nav navbar-right">
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>

                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>

        @*<ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>*@

        @*</div>*@
    </div><!-- /.navbar-collapse -->
</nav>
<div class="col-md-12">
    <h1 class="btn btn-info btn-sm col-md-4">
        @Html.ActionLink("Create New", "Create")
    </h1>
</div>
@foreach (var coralModel in Model.coralList)
{
    // onclick="f1(@coralModel.CoralId, this)"
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" style="float : left">
        <hr />
        <h4> @Html.ActionLink(@coralModel.Name, "Details", new { id = @coralModel.CoralId }) </h4>
        <hr>
        <h5>        @Html.DisplayFor(modelItem => coralModel.ScientificName)    </h5>

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            @if (coralModel.PhotoList.Count > 1)
            {
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    @for (int i = 1; i < coralModel.PhotoList.Count; i++)
                    {
                        <li data-target="#myCarousel" data-slide-to="@i"></li>
                    }
                </ol>
            }

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                @if (coralModel.PhotoList.Count > 0)
                {
                    <div class="item active">
                        @{
                            var base64 = Convert.ToBase64String(coralModel.PhotoList[0].Photo);
                            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                        }
                        <img src="@imgSrc" />
                    </div>

                    for (int i = 1; i < coralModel.PhotoList.Count; i++)
                    {
                        <div class="item">
                            @{
                                var base642 = Convert.ToBase64String(coralModel.PhotoList[i].Photo);
                                var imgSrc2 = String.Format("data:image/gif;base64,{0}", base642);
                            }
                            <img src="@imgSrc2" />
                        </div>
                    }
                    if (User.Identity.Name == coralModel.UploadedBy)
                    {
                        <div class="col-md-12 col-md-push-4">
                            @Html.ActionLink("Edit", "Edit", new { id = coralModel.CoralId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = coralModel.CoralId })
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    

   
         @*@Html.Partial("_PartialCreateComment");*@

}

<script>
    function f1(item) {
        window.location = "/Corals/Details/" + item;
    }
</script>

