@model IEnumerable<WebApplication9.Models.Coral>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CoralId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Light)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Flow)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Food)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScientificName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UploadedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FragSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Likes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisLikes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Views)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoldOut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FragAvailable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FragAvailableFrom)
        </th>
        <th></th>
    </tr>

    @foreach(var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CoralId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Light)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flow)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Food)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScientificName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UploadedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FragSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Likes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisLikes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Views)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoldOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FragAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FragAvailableFrom)
            </td>
            <td>
            <td>
                 <img src="@Url.Action("CoralPhoto", "Corals", new {id=item.CoralId})" width="50" />

            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CoralId }) |
                @Html.ActionLink("Details", "Details", new { id = item.CoralId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CoralId })
            </td>
        </tr>
        }

</table>*@

@foreach(var item in Model) {
    if(item.Name != null) {


<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" style="float : left" onclick="f1(@item.CoralId, this)">
    <h4>        @Html.DisplayFor(modelItem => item.Name)    </h4>
    <hr>
    <h5>        @Html.DisplayFor(modelItem => item.ScientificName)    </h5>

    <img src="@Url.Action("CoralPhoto", "Corals", new { id = item.CoralId })" width="150" />

    <h6>            @Html.DisplayFor(modelItem => item.Details)                       </h6>

     @* @Html.ActionLink("Details", "Details", new { id = item.CoralId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.CoralId })*@
</div>
        }
    }
<div class="col-lg-3" style="float : none"></div>
<script>
    function f1(item) {

        window.location = "/Corals/View/" + item;

        @*var url = '@Url.Action("CoralPhoto", "Corals")';
        url += '?id=' + item;
        $("#attachments").load(url);*@

           
    }
</script>
 