@*@model IEnumerable<WebApplication9.Models.AspNetUser>*@



@{
    ViewBag.Title = "Home Page";

}
<h3>@ViewData["Message"]</h3>



<div class="row">
    <div class="col-md-6">
        <div class="jumbotron" style="align-items:center; padding: 1px;padding-left:15px; padding-right:15px; margin:1em; border:0em;">
            <h3>Highlighted Tank</h3>
            <p class="lead">Tank voted by users</p>

            <img src="~/Images/highlighted.jpg" alt="" style="width: 100%; " />
            <p><a href="#" class="btn btn-primary btn-lg">See more &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-6">

        <div class="jumbotron" style="align-items:center; padding: 1px;padding-left:15px; padding-right:15px; margin:1em; border:0em;">
            <h3>Most Viewed Tank</h3>
            <p class="lead">Most viewed this week</p>

            <img src="~/Images/highlighted2.jpg" alt="" style="width:100%; padding-top:25px;" />
            <p><a href="#" class="btn btn-primary btn-lg">See more &raquo;</a></p>
        </div>
    </div>
</div>



<div class="row" style="text-align-last:center;">
    <div class="col-md-3 col-sm-6">
        <h2>Fish</h2>
        <ul>

            <li>Track down that fish you've been looking for.</li>
            <li>Let people know about your rare find.</li>
            <li>Share what your local fish store has on sale.</li>
        </ul>

        <p class="btn btn-default">
            @Html.ActionLink("Something fishy", "Index", "Fish")
            </p>

</div>

    <div class="col-md-3 col-sm-6" style="text-align-last:center;">
        <h2>Coral</h2>
        <p>
            <ul>

                <li>Sell/trade your frags.</li>
                <li>Show off your new addition.</li>
                <li>Let people know what your looking for.</li>
                <li>Pre-order your frags.</li>
                <li>Create coral connections</li>
            </ul>
        </p>
        <p class="btn btn-default">
            @Html.ActionLink("Eye candy", "Index", "Corals")
        </p>
 
    </div>
    <div class="col-md-3 col-sm-6  col-xs-12" style="text-align-last:center;">
        <h2>Equipment</h2>
        <p>
            <ul>
                <li>Buy pre-loved equipment.</li>
                <li>Sell when you've upgraded.</li>
                <li>Let people know what you need.</li>
                <li>What's new.</li>
                <li>Coming soon </li>
            </ul>
        </p>
        <p class="btn btn-default">
            @Html.ActionLink("See more", "Index", "Corals")
        </p>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12" style="text-align-last:center;">
        <h2>Forum</h2>
        <p>
            <ul>
                <li>Meet local reefers</li>
                <li>Learn, Teach or show off.</li>
                <li>Ask the experts.</li>
                <li>Links to the latest news</li>
                <li>The beginner tips we all forget.</li>
            </ul>
        </p>
        <p class="btn btn-default">
            @Html.ActionLink("I'm in ", "Index", "Corals")
        </p>
 
    </div>
</div>








