@using WebApplication9.Models
@model WebApplication9.Models.HomeViewModel

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";


}
<h3>@ViewData["Message"]</h3>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-8368664719015492",
        enable_page_level_ads: true
    });
</script>

<!-- Hotjar Tracking Code for www.reef-connect.com -->
@*<script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:1345699,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>*@
@*<div id="webchat" role="main"></div>*@
@*<script src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"></script>*@
@*<script>
        window.WebChat.renderWebChat(
            {
                activityRenderer: true,
                sendTypingIndicator: true,
                directLine: window.WebChat.createDirectLine({
                    token: 'Dwc1w5CVaJU.wlOAeFZaFprzjrNcOO-mJXJd6x1s0nYTmfvQAS5zcUY'
                }),
                userID: 'secondqna-bot',
            },
            document.getElementById('webchat')
        );
    </script>

    <iframe src='https://webchat.botframework.com/embed/secondqna-bot?s=Dwc1w5CVaJU.wlOAeFZaFprzjrNcOO-mJXJd6x1s0nYTmfvQAS5zcUY' style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>*@

<div class="col-md-4 col-sm-4 col-xs-12">

    @Html.Partial("_display5coralPartial", new Display5CoralViewModel(Model.display5CoralList, "Top 5 Corals", "Voted by users"))
</div>
<div class="col-md-4 col-sm-4 col-xs-12">

    @Html.Partial("_display5coralPartial", new Display5CoralViewModel(Model.feeeCoralList, "🎈 Free Coral  🎈", "First 20 Users in Ireland","FreeCoral", "Home"))
</div>
<div class="col-md-4 col-sm-4 col-xs-12">

    @Html.Partial("_display5coralPartial", new Display5CoralViewModel(Model.newCoralList, "Newest Corals", "Most recent"))
</div>

<div class="col-md-12 col-sm-12 col-xs-12">

    <div class="row" style="text-align-last:center;">
        <div class="col-md-3 col-sm-6">
            <h2>Fish</h2>
            <ul>

                <li>Track down that fish you've been looking for.</li>
                <li>Let people know about your rare find.</li>
                <li>Share what your local fish store has on sale.</li>
            </ul>
          
            <p class="btn btn-default">
                 @Html.ActionLink("Something fishy", "Index", "Fish")
            </p>

        </div>

        <div class="col-md-3 col-sm-6" style="text-align-last:center;">
            <h2>Coral</h2>
            <p>
                <ul>

                    <li>Sell/trade your frags.</li>
                    <li>Show off your new addition.</li>
                    <li>Let people know what your looking for.</li>
                    <li>Pre-order your frags.</li>
                    <li>Create coral connections</li>
                </ul>
            </p>
            <p class="btn btn-default">
                @Html.ActionLink("Eye candy", "Index", "Corals")
            </p>

        </div>
        <div class="col-md-3 col-sm-6  col-xs-12" style="text-align-last:center;">
            <h2>Equipment</h2>
            <p>
                <ul>
                    <li>Buy pre-loved equipment.</li>
                    <li>Sell when you've upgraded.</li>
                    <li>Let people know what you need.</li>
                    <li>What's new.</li>
                    <li>Coming soon </li>
                </ul>
            </p>
            <p class="btn btn-default">
                @Html.ActionLink("See more", "Index", "Corals")
            </p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12" style="text-align-last:center;">
            <h2>Forum</h2>
            <p>
                <ul>
                    <li>Meet local reefers</li>
                    <li>Learn, Teach or show off.</li>
                    <li>Ask the experts.</li>
                    <li>Links to the latest news</li>
                    <li>The beginner tips we all forget.</li>
                </ul>
            </p>
            <p class="btn btn-default">
                @*@Html.ActionLink("I'm in ", "Index", "Corals")*@
                <a href="http://forum.reef-connect.com/">I'm in </a>

            </p>

        </div>
    </div>
</div>









