@model WebApplication9.Models.Comments

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Comments</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RemovedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RemovedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommentOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommentTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommentText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommentViews)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentViews)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Removed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Removed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reports)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reports)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Likes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Likes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisLikes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisLikes)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
