@model WebApplication9.Models.Fish

@{
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Fish", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Fish</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group col-md-12">
            <div class=" col-md-4">
                <div class="col-md-6">
                    @Html.EnumDropDownListFor(model => model.Type, htmlAttributes: new { @class = "form-control", placeholder = "Type" })
                    @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class=" col-md-3">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Name" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-5">
                <div class="col-md-8">
                    @Html.EditorFor(model => model.ScientificName, new { htmlAttributes = new { @class = "form-control", placeholder = "Scientific Name" } })
                    @Html.ValidationMessageFor(model => model.ScientificName, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
        <br /><br /><br />

        <div class="form-group col-md-12">
            <div class="col-md-4">
                <div class="col-md-12">
                    @Html.TextAreaFor(model => model.Details, new { @style = "height: 130px; width: 250px; ", @placeholder = " Enter Details Here", htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Details, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-3">
                <div class="col-md-6 col-md-push-2">
                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", placeholder = "Price" } })
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                </div>
                <br /><br /><br />
                <div class="col-md-6 col-md-push-2">
                    @Html.EditorFor(model => model.Size, new { htmlAttributes = new { @class = "form-control", placeholder = "Size" } })
                    @Html.ValidationMessageFor(model => model.Size, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col col-md-5">
                <div class="form-group col-md-9  col-md-push-3 ">
                    <h4>Available Now?  </h4>
                    <div class="checkbox col-md-9  col-md-push-3 ">
                        @Html.EditorFor(model => model.FishAvailable, new { @class = "control-label col-md-push-8" })
                    </div>
                </div>
                <br /><br />
                <div class="col-md-8">
                    <br />
                    <div class="col-md-10 col-md-push-2">
                        <input type="file" name="CoralPhoto" id="fileUpload" accept=".png,.jpg,.jpeg,.gif,.tif" multiple />
                    </div>
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <div id="myImg"> </div>

        <br /><br />

        <div class="form-group">
            <div class="col-md-offset-1 col-md-8">
                <input type="submit" value="Create" class="btn btn-block" />
            </div>
        </div>
    </div>
}

<script>
    $(function () {
        $(":file").change(function () {
            //window.alert("sometext");

            if (this.files && this.files[0]) {
                for (var i = 0; i < this.files.length; i++) {
                    var reader = new FileReader();
                    reader.onload = imageIsLoaded;
                    reader.readAsDataURL(this.files[i]);
                }
            }
        });
    });

    function imageIsLoaded(e) {
        $('#myImg').append('<img src=' + e.target.result + '>');
    }
</script>
<style>
    #myImg > img {
        width: 250px;
        height: 200px;
    }
</style>