@model List<WebApplication9.Models.fishPhoto>


@{

    Layout = "~/Views/Shared/_Layout.cshtml";


}

<head>

    <style>

        /* Style the Image Used to Trigger the Modal */
        .myImg {
            border-radius: 50px;
            padding: 10px;
            cursor: pointer;
            transition: 1.3s;
            float: left;
            width: 300px;
            height: 300px;
            max-width: 300px;
            max-height: 300px;
            animation-name: zoom;
            animation-duration: 1.6s;
            opacity: 1;
        }

            .myImg:hover {
                -webkit-filter: brightness(30%); /* Safari */
                filter: brightness(125%);
                opacity: 1;
            }

        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 2; /* Sit on top */
            padding-top: 10px; /* Location of the box */
            left: 10px;
            top: 10px;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
        }

        /* Modal Content (Image) */
        .modal-content {
            margin: auto;
            margin-top: 50px;
            display: block;
            width: 60%;
            height: 60%;
            max-width: 700px;
        }

        /* Caption of Modal Image (Image Text) - Same Width as the Image */
        #caption {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
            text-align: center;
            color: #ccc;
            padding: 10px 0;
            height: 150px;
        }

        /* Add Animation - Zoom in the Modal */
        .modal-content, #caption {
            animation-name: zoom;
            animation-duration: 0.6s;
        }

        @@keyframes zoom {
            from {
                transform: scale(0)
            }


            to {
                transform: scale(1)
            }
        }

        /* The Close Button */
        .close {
            position: absolute;
            float: left;
            top: 50px;
            right: 0px;
            color: #ff0000;
            font-size: 50px;
            font-weight: bold;
            transition: 0.3s;
            z-index: 1; /* Sit on top */
        }

            .close:hover,
            .close:focus {
                color: #bbb;
                text-decoration: none;
                cursor: pointer;
            }

        /* 100% Image Width on Smaller Screens */
        @@media only screen and (max-width: 700px) {
            .modal-content {
                width: 100%;
            }
        }
    </style>

</head>
<body>

    <div class="col-lg-12" id="mainDiv">
        <div class="container">
            @{int x = 0;}

            <h2>
                @ViewBag.thisFish.Name
            </h2>
            <hr><br />
            <h4>
                @ViewBag.thisFish.ScientificName
            </h4>

            @foreach(var r in Model) {

                /**/

                if(r.Photo != null) {

                    var imgSrc = $"data:image/jpg;base64,{Convert.ToBase64String(r.Photo)}";
                    <div>


                        <!--      <img id="myImage" src="@imgSrc" alt="@r.UserId" width="150" style="padding: 40px;"-->
                        <img class="myImg" src="@imgSrc" alt="@x" id="@x" onclick="popUp(this, @x)">
                        @{x++;}
                    </div>
                    }
                }
            @*<div class=" icon-next" role="alert">
                    <div class="alert alert-warning d-flex flex-row">
                        Enter a valid email address
                    </div>
                </div>*@

            <!-- The Modal -->
            <div id="myModal" class="modal">

                <!-- The Close Button -->
                <span class="close">X</span>

                <!-- Modal Content (The Image) -->
                <img class="modal-content" id="img01">

                <!-- Modal Caption (Image Text) -->
                <div id="caption"></div>


            </div>



        </div>
    </div>
    <div>

        <p>
            @ViewBag.thisFish.Details
        </p>
        <hr><br />
        <h4>
            Price : € @ViewBag.thisFish.Price
        </h4>
        <h4>
            Likes : @ViewBag.thisFish.Likes
        </h4>
        <h4>
            Views : @ViewBag.thisFish.Views
        </h4>
        <h4>
            <a href="@Url.Action("UserView","AspNetUsers",new { id = @ViewBag.thisFish.UploadedBy})"> @ViewBag.thisFish.UploadedBy</a>

            Contact : @ViewBag.thisFish.UploadedBy
        </h4>
        <h4>
            Sold  : @ViewBag.thisFish.SoldOut
        </h4>
        <hr><br />

        @if(User.Identity.Name == @ViewBag.thisFish.UploadedBy) {
            <div>
                @Html.ActionLink("Edit", "Edit", new { id = @ViewBag.thisFish.FishId })
            </div>

            @Html.ActionLink("Delete", "Delete", new { id = @ViewBag.thisFish.FishId })

            }
        @*<img src="@Url.Action(" CoralPhoto", "Corals" , new { id=@Model.CoralId })" width="150" />
            <img src="@Url.Action("CoralPhoto2", "Corals", new { id = @Model.CoralId })" width="150" />

            <h5>
                @Html.DisplayFor(model => model.Details)
            </h5>

            <h6> Frags from @Html.DisplayFor(model => model.Price) dollars </h6>


            @Html.ActionLink("Edit", "Edit", new { id = @Model.CoralId })*@

    </div>
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}

<script>

    function popUp(id, number) {


        // Get the modal
        var modal = document.getElementById('myModal');

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = id;
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");
        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
        }
        var x = number;
        modal.onclick = function () {
            //     alert(number +1 );
            var ss = document.getElementsByClassName("myImg")[x++];
            //for ( i = 0; i < ss.length; i++) {
            //    ims = ss[i];
            //}
            modalImg.src = ss.src;
            captionText.innerHTML = ss.alt;

            var count = document.getElementsByClassName("myImg");
            if (x == count.length) {
                x = 0;
            }
        }

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
            x = 0;
        }



        // alert(this);
        //  document.getElementById("myImage").style.width = "400px";

        //$('#myImage').css({
        //    right: '300px',
        //    top: '450px',
        //    border: '1px solid red',
        //    width: '600'
        //});
    }
    function popDown() {
        //    document.getElementById("myImage").style.width = "150px";

        $('#myImage').css({
            right: '300px',
            top: '450px',
            border: '7px solid red',
            width: '200'
        });

    }


</script>
@*<style>
    img {
        width: 150px;
        height: 220px;
    }
</style>*@
