@model IEnumerable<WebApplication9.Models.AspNetUser>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@foreach(var item in Model) {
    if(item.UserName != null) {


<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" style="float : left" onclick="f1(@item, this)">
    <h4>        @Html.DisplayFor(modelItem => item.UserName)    </h4>
    <hr>
    <h5>        @Html.DisplayFor(modelItem => item.FirstName)    </h5>

    <img src="@Url.Action("UserPhotos", "Home" )" height="48" width="48" />

    <h6>            @Html.DisplayFor(modelItem => item.PhoneNumber)                       </h6>

    @*@Html.ActionLink("Details", "Details", new { id = item.CoralId }) |
        @Html.ActionLink("Edit", "Edit", new { id = item.CoralId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.CoralId })*@
</div>
        }
    }
<div class="col-lg-3" style="float : none"></div>
<script>
    function f1(item) {

        window.location = "/AspNetUsers/Details/" + item;

        @*var url = '@Url.Action("CoralPhoto", "Corals")';
        url += '?id=' + item;
        $("#attachments").load(url);*@


    }
</script>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailConfirmed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PasswordHash)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecurityStamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TwoFactorEnabled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LockoutEndDateUtc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LockoutEnabled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessFailedCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdUserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationLon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationLat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserPhoto)
        </th>
        <th></th>
    </tr>

    @foreach(var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailConfirmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PasswordHash)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecurityStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumberConfirmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TwoFactorEnabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LockoutEndDateUtc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LockoutEnabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccessFailedCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationLon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationLat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserPhoto)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
        }

</table>
