@model WebApplication9.Models.DisplayCommentViewModal


    
        <h4>Comments</h4>
        <hr />

    <div class="row">

        @*<div class="col-md-10">
            @Html.DisplayFor(model => model.CommentOn)
        </div>*@

        <div class="col-md-1 col-sm-1">
            @Html.DisplayFor(model => model.IdUserName)
        </div>
        @*<div>

            @{
                var base64 = Convert.ToBase64String(Model.UserPhoto);
                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
            }
            <img src="@imgSrc" style="width: 5%;" />
        </div>*@
 

        <div class="col-md-10">
            @Html.DisplayFor(model => model.CommentText)
        </div>

        <div class="col-md-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Report" class="btn btn-default" />
            </div>
        </div>
    </div>


<div>
 </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
