@model WebApplication9.Models.DisplayCommentViewModal

    
         @*<hr />*@

    <div class="row">

        @*<div class="col-md-10">
            @Html.DisplayFor(model => model.CommentOn)
        </div>*@

        <div class="col-md-2 col-sm-2 col-xs-2">
            @*@Html.DisplayFor(model => model.IdUserName)*@
          <a href="@Url.Action("ViewUser","AspNetUsers",new { id = Model.CommentBy })">@Model.IdUserName</a>



            @if (Model.UserPhoto != null)
            {
                var base64 = Convert.ToBase64String(Model.UserPhoto);
                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                <img src="@imgSrc" style="width: 90%;" />
            }
            else
            {
                <br />
            }
            <div class="col-md-1">
                @Html.DisplayFor(model => model.CreatedOn)
            </div>

        </div>
 

        <div class="col-md-5" >
           
            @Html.DisplayFor(model => model.CommentText)
        </div>

   



        <div class="form-group">
            <div class="col-md-push-3 col-md-5">
     <a class="btn btn-danger" href="@Url.Action("Report","Comments",new { id = Model.CommentId })">Report</a>

            </div>
        </div>
    </div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
