<!-- Footer                 at Html.Partial("_Fotter") -->
<style>
    body {
        position: relative;
        min-height: 100%;
        min-height: 100vh;
    }

    footer {
        position: center;
        margin-top: -30px; /* negative value of footer height */
        height: 150px;
        clear: both;
        padding-top: 20px;
        color: #fff;
    } 
</style>
<body>
    <footer class="page-footer font-small indigo">

        <!-- Footer Links -->
        <div class="container text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-3 mx-auto">

                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Navigation</h5>

                    <ul class="list-unstyled">

                        <li>@Html.ActionLink("Fish", "Index", "Fish")</li>



                        <li>@Html.ActionLink("Coral", "Index", "Corals")</li>


                        <li>
                            <a href="#!">Equipment</a>
                        </li>

                        
                        <li>@Html.ActionLink("Live Parameters", "Index", "Param")</li>
                        
                    </ul>

                </div>
                <!-- Grid column -->
                @*<hr class="clearfix w-100 d-md-none">*@

                <!-- Grid column -->
                <div class="col-md-3 mx-auto">

                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Reef Savers</h5>

                    <ul class="list-unstyled">
                        <li>
                            @*<a href="https://www.coralrestoration.org/">Coral Restoration</a>*@
                            <a href="https://www.tidalgardens.com/">Tidal Gardens</a>

                        </li>
                        <li>
                            <a href="https://www.adeproject.org/what-is-ade">ADE</a>
                        </li>
                        <li>
                            <a href="https://www.volunteerworld.com/en/volunteer-abroad/coral-reef">Dream Opportunities</a>
                        </li>
                        <li>
                            <a href="http://www.savecoralreefs.org/v2/">Save Coral Reefs</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->
                @*<hr class="clearfix w-100 d-md-none">*@

                <!-- Grid column -->
                <div class="col-md-3 mx-auto">

                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Forums</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="https://www.reef2reef.com/">Reef2Reef</a>
                        </li>
                        <li>
                            <a href="http://www.reefcentral.com/forums/">Reef Central</a>
                        </li>

                        <li>
                            <a href="https://www.nano-reef.com/forums/">Nano Reef</a>
                        </li>
                        <li>
                            <a href="https://www.ultimatereef.net/">Ultimate Reef</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->
                @*<hr class="clearfix w-100 d-md-none">*@

                <!-- Grid column -->
                <div class="col-md-3 mx-auto">

                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Account</a>
                        </li>
                        <li>@Html.ActionLink("Messages", "Index", "Messages")</li>



                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>

                    </ul>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>

    </footer>
    <!-- Footer -->
</body>