<!-- Footer                 at Html.Partial("_Fotter") -->
<style>
    body {
       
        position: relative;
        min-height: 100%;
        min-height: 100vh;
 
    }

    footer {
        
        margin-top: -30px; /* negative value of footer height */
        height: 150px;
        clear: both;
        padding-top: 20px;
        color: #fff;
    } 
</style>
<body>
    <div class="col-md-12 col-sm-12 col-xs-12">
    @*<footer class="page-footer font-small indigo">*@

        <!-- Footer Links -->
        <div class="container text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-3 col-sm-3 col-xs-6 ">

                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Navigation</h5>

                    <ul class="list-unstyled">

                        <li>@Html.ActionLink("Fish", "Index", "Fish")</li>



                        <li>@Html.ActionLink("Coral", "Index", "Corals")</li>


                        <li>
                            <a href="#!">Equipment</a>
                        </li>


                        <li>@Html.ActionLink("Live Parameters", "Index", "Param")</li>

                    </ul>

                </div>
                <!-- Grid column -->
                @*<hr class="clearfix w-100 d-md-none">*@

                <!-- Grid column -->
                <div class="col-md-3 col-sm-3 col-xs-6">

                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase ">Reef Savers</h5>

                    <ul class="list-unstyled">
                        <li>
                            @*<a href="https://www.coralrestoration.org/">Coral Restoration</a>*@
                            <a href="https://www.tidalgardens.com/">Tidal Gardens</a>

                        </li>
                        <li>
                            <a href="https://www.adeproject.org/what-is-ade">ADE</a>
                        </li>
                        <li>
                            <a href="https://www.volunteerworld.com/en/volunteer-abroad/coral-reef">Dream Opportunities</a>
                        </li>
                        <li>
                            <a href="http://www.savecoralreefs.org/v2/">Save Coral Reefs</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->
                @*<hr class="clearfix w-100 d-md-none">*@

                <!-- Grid column -->
                <div class="col-md-3 col-sm-3 col-xs-6">

                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase">Forums</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="https://www.reef2reef.com/">Reef2Reef</a>
                        </li>
                        <li>
                            <a href="http://www.reefcentral.com/forums/">Reef Central</a>
                        </li>

                        <li>
                            <a href="https://www.nano-reef.com/forums/">Nano Reef</a>
                        </li>
                        <li>
                            <a href="https://www.ultimatereef.net/">Ultimate Reef</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->
                @*<hr class="clearfix w-100 d-md-none">*@

                <!-- Grid column -->
                <div class="col-md-3 col-sm-3 col-xs-6">

                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase ">Links</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Account</a>
                        </li>
                        <li>@Html.ActionLink("Messages", "Index", "Messages")</li>



                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>

                    </ul>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>

    </div>
    <!-- Footer -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- first -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-8368664719015492"
         data-ad-slot="1876445455"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</body>