@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Web;
@using WebApplication9.Models;


 
<ul class="nav navbar-nav ">
    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        <li>@Html.ActionLink("My Peeps", "Index", "Simple")</li>*@

    @if(ViewBag.Notifications != null) {
        foreach(NotificationViewModel notification in ViewBag.Notifications) {
    <li>
        <a href="@Url.Action("Index", "Notifications" )">Notifications</a>
        @*<a href="@Url.Action("Index", "Messages")">Messages</a>*@

        @*@notification.NotificationType
        <span class="badge badge-@notification.BadgeClass">
            @notification.Count
        </span>*@

    </li>
            }

        }


    @if(ViewBag.Messages != null) {
       // foreach(MessagesViewModel message in ViewBag.Messages) {
            <li class="divider">
                <a href="@Url.Action("Index", "Messages")">Messages</a>

                @*@notification.NotificationType
                    <span class="badge badge-@notification.BadgeClass">
                        @notification.Count
                    </span>*@

            </li>
        //    }

        }







    </ul>