@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Web;
@using WebApplication9.Models;


 
<ul class="nav navbar-nav " style="margin-bottom:0px;">

    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Coral", "Index", "Corals")</li>
    <li>@Html.ActionLink("Fish", "Index", "Fish")</li>

    <li>@Html.ActionLink("Users", "Index", "AspNetUsers")</li>


</ul>

<ul class="nav navbar-nav " style="align-items:baseline,center;">


    @if(ViewBag.Notifications != null) {


        foreach(NotificationViewModel notification in ViewBag.Notifications) {

            <li style="align-self:baseline;">
          <h6>Notifications</h6>

                @*@notification.NotificationType*@
                <span class="badge badge-@notification.BadgeClass">
                    @notification.Count
                </span>

            </li>
            }

        }

 
    @if(ViewBag.Messages != null) {

        foreach(MessagesViewModel message in ViewBag.Messages) {
            <li class="divider">
                <h6>Messages</h6>
                @*@message.MessageType*@
                <span class="badge badge-@message.BadgeClass">
                    @message.Count
                </span>

            </li>
            }

        }

    </ul>





