@model IEnumerable<WebApplication9.Models.Feedback>

@{
    ViewBag.Title = "Index";
}
<h1>Feedback</h1>
@foreach (var item in Model)
{
<div class="row">
    <div class="col-md-2 col-sm-2 col-xs-6">

        @*@Html.DisplayFor(modelItem => item.FeedbackFrom.IdUserName)*@
        <a href="@Url.Action("UserView","AspNetUsers",new { id = item.FeedbackFrom.IdUserName })">@item.FeedbackFrom.IdUserName</a>

    </div>

    </div>
<div class="row">

    <div class="col-md-1 col-sm-2 col-xs-2">
        @*@Html.DisplayFor(model => model.IdUserName)*@
        @*<a href="@Url.Action("ViewUser", "AspNetUsers", new { id = Model.CommentBy })">@Model.IdUserName</a>*@



        @if (item.FeedbackFrom.UserPhoto != null)
        {
            var base64 = Convert.ToBase64String(item.FeedbackFrom.UserPhoto);
            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

            <img src="@imgSrc" style="width: 99%;" class="img-responsive center-block"/>
        }
        else
        {
            <br />
        }
    </div>
    <div class="col-md-1 col-sm-2 col-xs-2">

        @Html.DisplayFor(model => item.FeedbackType)

    </div>
    <div class="col-md-9 col-sm-7 col-xs-5">

        @Html.DisplayFor(model => item.Content)
    </div>
    <div class="col-md-1 col-sm-1 col-xs-1">
        @item.CreatedOn.ToString().Substring(0, 10)
        <a class="btn btn-danger" href="@Url.Action("Report","Feedbacks",new { id = item.FeedbackId })">Report</a>

    </div>

   


    @*<div class="form-group">
            <div class="col-md-push-3 col-md-5">
                <a class="btn btn-danger" href="@Url.Action("Report", "Comments", new { id = Model.CommentId })">Report</a>

            </div>
        </div>*@
</div>
<hr />

    }


 

