@model WebApplication9.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<link href="~/Content/account.css" rel="stylesheet" />

<!-- Hotjar Tracking Code for www.reef-connect.com -->
<script>
    (function (h, o, t, j, a, r) {
        h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
        h._hjSettings = { hjid: 1345699, hjsv: 6 };
        a = o.getElementsByTagName('head')[0];
        r = o.createElement('script'); r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
    })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
</script>

<h2>@ViewBag.Title.</h2>
<script>
    window.onload = function () {

        var x1 = document.getElementById("reg");
        x1.addEventListener("click", getGeo, false);

    };
    function getGeo() {
        var x = document.getElementById("geo");
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);

        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }
    function showPosition(position) {
        document.getElementById("latitude").value = position.coords.latitude;
        document.getElementById("longitude").value = position.coords.longitude;
    }
</script>
<div class="main-w3layouts wrapper">
    <div class="main-agileinfo">
        <div class="agileits-top">
            <section id="loginForm">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Create a new account.</h4>
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.HiddenFor(m => m.LocationLat, new { @class = "form-control", @id = "latitude" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.HiddenFor(m => m.LocationLon, new { @class = "form-control", @id = "longitude" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "First Name" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Last Name" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.IdUserName, new { @class = "form-control", placeholder = "User Name" })
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.UserPhoto, new { @class = "col-md-6 control-label" })
                        <div class="col-md-12">
                            <input type="file" name="UserPhoto" id="fileUpload" accept=".png,.jpg,.jpeg,.gif,.tif" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="button" class="btn btn-default" value="Put me on the map !!!" id="reg" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="submit" class="btn btn-default" value="Register" />
                        </div>
                    </div>
                }
            </section>

        </div>
    </div>
</div>

<ul class="colorlib-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

